<div class="signin-content" style="padding-top: 60px;">
    <div class="signin-logo"></div>
    <div class="section-box">
        <div class="section-content" style="padding:0;">
            <div class="section-row">
                <label>Username</label>
                <input type="text" name="username">
            </div>
            <div class="section-row">
                <label>Password</label>
                <input type="text" name="username">
            </div>
            <div class="section-row clearfix" style="height: 33px; line-height: 33px;">
                <div class="styled-checkbox">
                    <input type="checkbox" id="rem">
                    <label for="rem"></label>
                </div>
                <div class="checkbox-label">Remember me</div>

                <a href="#" class="lm-button purple small right">Login in</a>
            </div>
            <div class="section-row">
                <a href="password.html">I forgot my password!</a>
            </div>
        </div>
    </div>
</div>
<div class="signin-foot">
    Copyright © 2014 Logicmonitor • <a href="http://blog.logicmonitor.com/" target="_blank">Read our latest blog post</a>
</div>

